<!--<h2>About</h2>-->
<p></p>
<p>
  <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" title="Follow me on Twitter @{{ site.author.twitter }}"  class="floatLeft" />
  <strong>Brian Sigafoos</strong>. I'm an athlete turned entrepreneur who's constantly <a href="/tags/learning">learning</a>, recently diving into Ruby, Rails, JS.
  Apart from tech, I love <a href="http://www.crossfit.com/cf-info/what-is-crossfit.html" target="_blank">CrossFit</a>, yoga and
  eating <a href="http://robbwolf.com/what-is-the-paleo-diet/" target="_blank">paleo</a>.
  <br /><br />
  CEO & Co-Founder of <a href="http://playpass.com" target="_blank"><strong>Playpass</strong></a>
  and Partner at <a href="http://duplays.com"><strong>DUPLAYS</strong></a> (over <a href="http://angel.co/duplays" target="_blank">$1M</a> raised).
  DUPLAYS <em>builds sports communities</em> with over 60,000 members in 7 cities. We know how tough organizing sport leagues and events can be.
  So we launched <strong>Playpass</strong> to make <a href="http://playpass.com" target="_blank">organizing sports better,
  faster & easier</a>.
  <br /><br />
  In 2013,  named a <a href="http://www.endeavor.org/blog/28-high-impact-entrepreneurs-from-12-countries-join-the-endeavor-network-first-entrepreneurs-selected-from-miami-usa-morocco-and-uae/" target="_blank">"high-impact entrepreneur"</a> by Endeavor.
  <br /><br />
  <!--Also a part of <a href="http://globalgamechange.com" target="_blank">Global Game Changers</a>, a group of sport development-->
  <!--specialists that does curriculum development, clinics and program-->
  <!--<a href="http://globalgamechange.com/sports-solutions/" target="_blank" title="Design, Monitoring and Evaluation">DM&E</a>-->
  <!--<br /><br />-->
  Since I get asked this a lot, I'm 6'10" (208cm) and "yes, I played basketball".
  Both at <a href="http://statsheet.com/mcb/players/player/harvard/brian-sigafoos" target="_blank">Harvard</a> and as a "pro" in a few European countries.
</p>
<p>
  Find me on <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">Twitter</a>,
  <a href="https://facebook.com/{{ site.author.facebook}}" target="_blank">Facebook</a>, <a href="http://www.linkedin.com/in/{{ site.author.linkedin}}">LinkedIn</a> or
  <a href="https://github.com/{{ site.author.github}}" target="_blank">Github</a>.  Recent <a href="/photos.html">Instagram photos</a>...
</p>

<p>
  <script type="text/javascript">
    var feed = new Instafeed({
      get: 'user',
      clientId: '905a6b89e06242a5a1d6ecfd58a38d24',
      userId: 647166,
      limit: 10,
      accessToken: '647166.467ede5.8835588003db42609ab430461bd84e07'
    });
    feed.run();
  </script>
  <div id="instafeed"></div>
</p>

<!--<p>-->
  <!--<ul class="buttons unstyled">-->
    <!--<li><a href="https://github.com/{{ site.author.github }}" rel="me" class="social github" title="Go to github.com/{{ site.author.github }}" target="_blank"></a></li>-->
    <!--<li><a href="http://www.twitter.com/{{ site.author.twitter }}" rel="me" class="social twitter" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank"></a></li>-->
    <!--<li><a href="https://github.com/{{ site.author.github }}/feedback/issues/new" rel="me" class="social mail" title="Leave feedback for {{ site.author.name  }}"  target="_blank"></a></li>-->
  <!--</ul>-->
<!--</p>-->

<br />
<br />
{% include tag_sidebar.html %}


