<!--<h2>About</h2>-->
<p></p>
<p>
  <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" title="Follow me on Twitter @{{ site.author.twitter }}"  class="floatLeft" />
  Hi, I'm Brian Sigafoos. I love to <a href="/tags/learning">learn</a>, most recently diving into Ruby, Rails and Coffeescript.
  If I'm not at a computer I'm <a href="http://www.crossfit.com/cf-info/what-is-crossfit.html" target="_blank">CrossFiting</a>,
  eating <a href="http://robbwolf.com/what-is-the-paleo-diet/" target="_blank">paleo</a>, traveling, or playing sports.
  <br /><br />
  Dubai has been home since 2008, where I'm CEO & Co-Founder of <a href="https://playpass.com" target="_blank">Playpass</a> and Partner at <a href="http://duplays.com">DUPLAYS</a>.
  DUPLAYS <em>builds sport communities</em> and has over 50,000 members in 5 cities. As a company we've <a href="http://angel.co/duplays" target="_blank">raised $1.2M</a> to build Playpass
  for everyone to find and <a href="https://playpass.com/organize" target="_blank">organize sport activities</a>. In 2013, named a <a href="http://www.endeavor.org/blog/28-high-impact-entrepreneurs-from-12-countries-join-the-endeavor-network-first-entrepreneurs-selected-from-miami-usa-morocco-and-uae/" target="_blank">"High-Impact Entrepreneur"</a> by Endeavor.
  <br /><br />
  I'm also a part of <a href="http://globalgamechange.com" target="_blank">Global Game Changers</a>, a group of sport development
  specialists that does curriculum development, clinics and program
  <a href="http://globalgamechange.com/sports-solutions/" target="_blank" title="Design, Monitoring and Evaluation">DM&E</a>
  <br /><br />
  Lastly, since I get asked this a lot, I'm 6'10" (208cm) and "yes, I play(ed) basketball".
  Both at <a href="http://statsheet.com/mcb/players/player/harvard/brian-sigafoos" target="_blank">Harvard</a> and as a "pro" in a few European countries.
</p>
<p>
  Find me on <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">Twitter</a>,
  <a href="https://facebook.com/{{ site.author.facebook}}" target="_blank">Facebook</a>, <a href="http://www.linkedin.com/in/{{ site.author.linkedin}}">LinkedIn</a> or
  <a href="https://github.com/{{ site.author.github}}" target="_blank">Github</a>.
  <br /><br />
  Some recent <a href="/photos.html">Instagram photos</a>...
</p>

<p>
  <script type="text/javascript">
    var feed = new Instafeed({
      get: 'user',
      clientId: '905a6b89e06242a5a1d6ecfd58a38d24',
      userId: 647166,
      limit: 8,
      accessToken: '647166.467ede5.8835588003db42609ab430461bd84e07'
    });
    feed.run();
  </script>
  <div id="instafeed"></div>
</p>

<!--<p>-->
  <!--<ul class="buttons unstyled">-->
    <!--<li><a href="https://github.com/{{ site.author.github }}" rel="me" class="social github" title="Go to github.com/{{ site.author.github }}" target="_blank"></a></li>-->
    <!--<li><a href="http://www.twitter.com/{{ site.author.twitter }}" rel="me" class="social twitter" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank"></a></li>-->
    <!--<li><a href="https://github.com/{{ site.author.github }}/feedback/issues/new" rel="me" class="social mail" title="Leave feedback for {{ site.author.name  }}"  target="_blank"></a></li>-->
  <!--</ul>-->
<!--</p>-->

<br />
<br />
{% include tag_sidebar.html %}


