<!--<h2>About</h2>-->
<p></p>
<p>
  <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" title="Follow me on Twitter @{{ site.author.twitter }}"  class="floatLeft" />
  Hi, I'm Brian Sigafoos. I love to <a href="/tags/learning">learn</a>, most recently diving into Ruby, Javascript and Node.js.
  If I'm not at a computer I'm <a href="http://crossfit.com">CrossFiting</a>,
  eating <a href="http://en.wikipedia.org/wiki/Paleolithic_diet">paleo</a>, travelling, or playing sports.
  <br /><br />
  Dubai has been home since 2008, where I'm Partner & CTO of <a href="https://duplays.com">DUPLAYS</a>.
  We <em>connect communities through sport</em> and have <a href="http://angel.co/duplays">raised $1.2M</a> to build
  a platform to do it better.
  <br /><br />
  I'm also a part of <a href="http://globalgamechange.com">Global Game Changers</a>, a group of sport development
  specialists that does curriculum development, clinics and program
  <a href="https://www.google.ae/search?q=design+monitoring+and+evaluation" title="Design, Monitoring and Evaluation">DM&E</a>
  <br /><br />
  Lastly, in case you were wondering, I'm 6'10" (210cm) and "yes, I play(ed) basketball".
  Both at Harvard and as a "pro" in a few European countries that didn't really like the sport all that much.
</p>
<p>
  Find me on <a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a>,
  <a href="https://facebook.com/{{ site.author.facebook}}">Facebook</a> or
  <a href="https://github.com/{{ site.author.github}}">Github</a>.
  <br />
  Some recent <a href="/photos.html">Instagram photos</a>...
</p>

<p>
  <script type="text/javascript">
    var feed = new Instafeed({
      get: 'user',
      clientId: '905a6b89e06242a5a1d6ecfd58a38d24',
      userId: 647166,
      limit: 8,
      accessToken: '647166.467ede5.8835588003db42609ab430461bd84e07'
    });
    feed.run();
  </script>
  <div id="instafeed"></div>
</p>

<!--<p>-->
  <!--<ul class="buttons unstyled">-->
    <!--<li><a href="https://github.com/{{ site.author.github }}" rel="me" class="social github" title="Go to github.com/{{ site.author.github }}" target="_blank"></a></li>-->
    <!--<li><a href="http://www.twitter.com/{{ site.author.twitter }}" rel="me" class="social twitter" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank"></a></li>-->
    <!--<li><a href="https://github.com/{{ site.author.github }}/feedback/issues/new" rel="me" class="social mail" title="Leave feedback for {{ site.author.name  }}"  target="_blank"></a></li>-->
  <!--</ul>-->
<!--</p>-->

<br />
<br />
{% include tag_sidebar.html %}


