<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ site.root }}">{{ site.title }}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown hidden-phone">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Links <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="/dubai-guide.html">Dubai travel guide</a></li>
                            <li class=""><a href="/lists.html">Favorites lists</a></li>
                            <li class=""><a href="/photos.html">Recent photos</a></li>
                        </ul>
                    </li>
                    <li id="search" class="search hidden-phone hidden-tablet">
                        <span class="icon search"></span>
                        <input type="text" placeholder="search">
                        <i id="close" class="icon-remove"></i>
                        <ol id="search-results" class="dropdown-menu">
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>