{{ define "main" }}
  {{ range .Pages }}
    <div class="mt-12">
      <h2 class="title">
        <a href="{{ .Permalink }}" class="text-bright">
          {{ .Title }}
        </a>
      </h2>

      <h4 class="subtitle mb-0">
        {{ .Summary }}
      </h4>

      <p class="font-mono text-faint text-sm mt-2">
        <time class="inline-block" datetime="{{ .Date }}">
          {{- .Date.Format "2-Jan-2006" -}}
        </time>
        ·
        <a href="{{ .Permalink }}" class="link-accent font-mono">
          {{add .ReadingTime 1 }} minutes to read
        </a>
      </p>
    </div>
  {{ end }}
{{ end }}
