<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog">
  <meta name="author" content="{{ site.author.name  }}">
  <link href="/css/all.css" rel="stylesheet">

  <!-- favicon and touch icon -->
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>

<body>
<div class="max-width-2-5 p2 mx-auto">
  <div>
    {% include header.html %}
  </div>
  <div class="clearfix">
    {{ content }}
  </div>
</div>
</body>
</html>
