---
layout: layout
---

<div class="clearfix pb4">
  {% unless page.hide_image %}
  <img border="0" src="/img/posts/{{ page.image }}" alt="{{ post.title }}">
  {% endunless %}

  <h1 class="color-red font-size-xl">
    {{ page.title }}
  </h1>

  {{content}}

  {% unless page.hide_date %}
  <div class="clearfix text-muted">
    Posted {{ page.date | date: "%B %e, %Y" }}
  </div>
  {% endunless %}
</div>

{% if page.comments %}
<div  class="clearfix pb4">
  <h2 class="color-red">
    Comments
  </h2>

  <div id="disqus_thread"></div>
  <script>
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqusShortname = '{{ site.comments.disqus.short_name }}';

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}


